---
layout: default
---

<div class="side-nav-content">
  <nav id="side-nav" class="column">
    {% for item in site.data.navigation.technical %}
      <h3>
        {% if item.url %}
          <a href="{{item.url}}">{{ item.title }}</a>
        {% else %}
          {{ item.title }}
        {% endif %}
      </h3>

      <ul>
        {% for entry in item.subfolderitems %}
          <li>
            {% if entry.url %}
              <a href="{{entry.url}}">{{ entry.page }}</a>
            {% else %}
              {{ entry.page }}
            {% endif %}
            
            <ul>
              {% for subEntry in entry.subsubfolderitems %}
                <li><a href="{{subEntry.url}}">{{ subEntry.page }}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </nav>

  <div id="side-content" class="column" >
    {{content}}
  </div>
</div>